<h1>All Campaigns</h1>

<h2>Recent Campaigns</h2>

<% @campaigns.each do |campaign| %>
  <%= cache campaign, expires_in: 1.day do %>
    <div class="well">
      <%= campaign.decorate.h3_title %> (<%= campaign.pledges.size %>)
      <hr>
    </div>
  <% end %>
<% end %>
